LTJBE_ENV=development|production
LTJBE_OTLP_ENDPOINT={host}:{port}
LTJBE_DATABASE_URL=postgresql+asyncpg://{username}:{password}@{host}:{port}/{dbname}
LTJBE_DATABASE_ECHO=true
LTJBE_DATABASE_AUTO_CREATE=true
