LTJBE_ENV=development|production
LTJBE_OTLP_ENDPOINT={host}:{port}
LTJBE_DATABASE_URL=postgresql+asyncpg://{username}:{password}@{host}:{port}/{dbname}
LTJBE_DATABASE_ECHO=true
LTJBE_DATABASE_AUTO_CREATE=false

LTJBE_AUTH_JWT_SECRET=some-dev-secret
LTJBE_AUTH_JWT_ALGORITHM=HS256
LTJBE_AUTH_ACCESS_TOKEN_TTL_SECONDS=900
LTJBE_AUTH_REFRESH_TOKEN_TTL_SECONDS=3600
LTJBE_AUTH_OTP_PEPPER=some-dev-pepper
LTJBE_AUTH_OTP_TTL_SECONDS=300
LTJBE_AUTH_OTP_MAX_ATTEMPTS=3

LTJBE_TWILIO_ACCOUNT_SID=some-alphanumeric-string
LTJBE_TWILIO_AUTH_TOKEN=some-alphanumeric-string
LTJBE_TWILIO_FROM_PHONE=some-phone-number-with-dial-code-nospace
