services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: luxtjbe
    container_name: luxtjbe_pod
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    command: uvicorn --factory --host 0.0.0.0 --port 8000 app.core.main:application_factory
