name: Build Push Luxtj BE Docker Image

on:
  push:
    branches:
      - "main"

permissions:
  packages: write

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          # In GitHub Actions, username: ${{ github.actor }} sets the Docker 
          # login username to the GitHub user or bot that triggered the workflow run.
          # ${{ github.actor }} is a built-in variable that resolves to the username 
          # of the person or app that initiated the workflow. This is commonly used 
          # for authentication steps.
          password: ${{ secrets.GHCR_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          target: runtime
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/travel-jaunts/luxtjbe:latest
            ghcr.io/travel-jaunts/luxtjbe:${{ github.sha }}
